/* .gradient-one {
  background: linear-gradient(70deg, blue, pink);


}

font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;

*/

.blue {
  background: blue;
}

.pink {
  background: pink;
}


body {
    background-image: linear-gradient(165deg, #E6F6FF, #FFC9D2);
    /* background: rgb(250,218,221); */
    color: #184B6D;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.0;
    font-size: 14px;
}

/* ----------
Heading styles
 ---------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 60px;
}

/* ----------
Link styles
---------- */
a {
  color: #A62D7C;
}

a:hover {
  text-decoration: none;
}

.first {
  padding-left: 0;
}

/* ---------
Navigation
---------- */
.nav {
  margin-top: 100px;
}
.nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #184B6D;
}


.kicker {
  text-transform: uppercase;
  border-bottom: 1px solid #184B6D;
  padding-bottom: 18px;
}

.row p.kicker {
  font-weight:700;
  letter-spacing: 1px;
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ----------
footer
----------- */
footer {
  padding-top: 100px;
}

footer p {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}
