/* .gradient-one {
  background: linear-gradient(70deg, blue, pink);


}

font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;

*/

.blue {
  background: blue;
}

.pink {
  background: pink;
}

body {
  color: #184B6D;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.0;
  font-size: 15px;
}
/* ----------
Customize backgrounds with gradients
---------- */
body#home {
  background-image: linear-gradient(165deg, #E6F6FF, #FFC9D2);
    /* background: rgb(250,218,221); */
}

body#places {
    background-image: linear-gradient(165deg, #E3FFFC, #FFE9C9);
}

body#people {
  background-image: linear-gradient(165deg, #C7EAFF, #D9ECCD);
}

body#practice {
  background-image: linear-gradient(165deg, #FFE3E3, #F6FFC9);
}

body#profile {
  background-image: linear-gradient(165deg, #E6F6FF, #D4C9FF);
}

/* ----------
Heading styles
 ---------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 60px;
}

/* Can't have both media max width --------------- */
@media screen and (max-width: 992px) {
  h1 {
      font-size: 35px;
  }
}

h2 {
  font-size: 41px;
  padding-bottom: 20px;
}

span.note {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

/* ----------
Link styles
---------- */
a {
  color: #A62D7C;
}

a:hover {
  text-decoration: none;
}

.first, .left {
  padding-left: 0;
}


/* ---------
Navigation
---------- */
.nav {
  margin-top: 100px;
}
.nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #184B6D;
}

.nav a:hover {
  color: #A62D7C;
}


.kicker {
  text-transform: uppercase;
  border-bottom: 1px solid #184B6D;
  padding-bottom: 18px;
}

.row p.kicker {
  font-weight:700;
  letter-spacing: 1px;
}

.row {
  margin-top: 70px;
  margin-bottom: 50px;
}

p.attribution {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ----------
footer
----------- */
footer {
  padding-top: 100px;
}

footer p {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}
